<template>
  <div class="form-group add-task">
    <button type="button" class="btn btn-info btn-block">Add Task</button>
  </div>
</template>

<script>
export default {
  name: "form-add",
};
</script>

<style></style>
