<template>
  <div class="col-12 col-lg-6">
    <!-- ADD TASk BUTTON -->
    <form-add />
    <form action="" method="POST" class="form-inline justify-content-between">
      <div class="form-group">
        <label class="sr-only" for="">label</label>
        <input type="text" class="form-control" placeholder="Task Name" />
      </div>
      <div class="form-group">
        <label class="sr-only" for="">label</label>
        <select name="ds" class="form-control" required="required">
          <option value="0">Small</option>
          <option value="1">Medium</option>
          <option value="2">High</option>
        </select>
      </div>

      <button type="button" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-secondary">Cancel</button>
    </form>
  </div>
</template>

<script>
import FormAdd from "./ForComponentForm/FormAdd.vue";
export default {
  components: { FormAdd },
  name: "component-form",
  methods: {},
};
</script>

<style></style>
