<template>
  <div class="col-12 col-lg-6">
    <div class="row">
      <!-- CONTROL SORT -->
      <control-sort />

      <!-- SEARCH : START -->
      <control-search />
    </div>
  </div>
</template>

<script>
import ControlSearch from "./ForComponentControl/ControlSearch.vue";
import ControlSort from "./ForComponentControl/ControlSort.vue";
export default {
  name: "component-control",
  components: { ControlSort, ControlSearch },
};
</script>

<style></style>
