<template>
  <div class="page-header">
    <h1>Project 01 - ToDo List <small>VueJs</small></h1>
    <hr class="my-4" />
  </div>
</template>

<script>
export default {
  name: "component-header",
};
</script>

<style></style>
