<template>
  <tr>
    <td class="text-center">{{ index }}</td>
    <td>
      {{ task.name }}
    </td>
    <td class="text-center">
      <span class="badge" v-bind:class="classBaseOnLevel">{{
        defineLevel
      }}</span>
    </td>
    <td>
      <button type="button" class="btn btn-warning">Edit</button>
      <button type="button" class="btn btn-danger">
        Delete
      </button>
    </td>
  </tr>
</template>

<script>
import level from "../mocks/level";
export default {
  name: "todo-list-item-table",
  props: {
    task: {
      type: Object,
      default: null,
    },
    index: { type: Number },
  },
  methods: {},
  computed: {
    defineLevel() {
      return this.level[this.task.level].name;
    },

    classBaseOnLevel() {
      return this.level[this.task.level].class;
    },
  },
  data() {
    return {
      level,
    };
  },
};
</script>
