<template>
  <div class="card panel-success">
    <div class="card-header">List Task</div>
    <table class="table table-hover ">
      <thead>
        <tr>
          <th style="width: 10%" class="text-center">#</th>
          <th>Task</th>
          <th style="width: 20%" class="text-center">Level</th>
          <th style="width: 160px">Action</th>
        </tr>
      </thead>

      <tbody>
        <todo-list-item-table
          v-for="(task, index) in listTasks"
          v-bind:key="task.id"
          v-bind:task="task"
          v-bind:index="index + 1"
        />
      </tbody>
    </table>
  </div>
</template>

<script>
import TodoListItemTable from "./TodoListItemTable.vue";
export default {
  name: "todo-list-table",
  components: { TodoListItemTable },
  props: {
    listTasks: {
      type: Array,
      default: [],
    },
  },
  data() {
    return {};
  },
};
</script>
