<template>
  <div class="col-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." />
      <span class="input-group-append">
        <button class="btn btn-info" type="button">Clear!</button>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "control-search",
  data() {
    return {};
  },
};
</script>

<style></style>
