<template>
  <b-container>
    <!-- COMPONENT HEADER -->
    <component-header />

    <b-row>
      <!-- SEARCH AND SORT TASK -->
      <component-control />

      <!-- FORM TO ADD TASK -->
      <component-form />
    </b-row>

    <!-- TODO LIST TABLE -->
    <todo-list-table v-bind:listTasks="listTasks" />
  </b-container>
</template>

<script>
import ComponentControl from "./components/ComponentControl.vue";
import ComponentForm from "./components/ComponentForm.vue";
import ComponentHeader from "./components/ComponentHeader.vue";
import TodoListTable from "./components/TodoListTable.vue";

import listTasks from "./mocks/tasks";
export default {
  name: "app",
  components: {
    TodoListTable,
    ComponentHeader,
    ComponentControl,
    ComponentForm,
  },
  data() {
    return {
      listTasks: listTasks,
    };
  },
};
</script>

<style>
body,
ComponentControl {
  padding: 100px 0;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}

.container > .row {
  margin-top: 20px;
  margin-bottom: 30px;
}

span.badge-medium {
  padding: 11px 10px;
  margin: 0px 8px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 992px) {
  .add-task {
    margin-top: 50px;
  }
}
</style>
